* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.text-white {
    color: #fff !important;
}

.main {}

.header {
    background-color: #000;
    height: 46px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    top: 0;
}

.nav {
    display: inline-block;
}

.nav li {
    display: inline-block;
    position: relative;
}

.nav>li>a {
    text-transform: uppercase;

}

.nav li a {
    padding: 0 24px;
    line-height: 48px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

.nav>li:hover>a{
    background-color:#ccc;
    color: #000;
}

.nav .sub-nav li {
    width: 100%;
}

.nav li:hover .sub-nav {
    display: block;
}

.nav-arrow-down .ti-angle-down {
    color: #fff;
    font-size: 10px;
    line-height: 46px;
    /* bug không xét được font-size
bỏ ti-angle-down sẽ không được kế thừa hover 
  */
}

.sub-nav {
    position: absolute;
    display: none;
    background-color: #fff;
    top: 46px;
    width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.sub-nav li:hover {
    background-color: #ccc;
}

.sub-nav li a {
    color: #000;
    margin: 0 -6px;
}

.header .search-btn {
    float: right;
    color: #fff;
    padding: 0 21px;
    line-height: 46px;
}

.header .search-btn:hover {
    background-color: #f44336;
}

.slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;

}

.slider .text-slider {
    color: #fff;
    text-align: center;
    padding: 32px 16px;
}

.slider .text-oneslider {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 24px;
}

.slider .text-twoslider {
    font-weight: 700;
    font-size: 15px;
}

.content {
    /* height: 10000px;
    padding: 64px 16px; */
}

/* THE BAND */
.content .content-section {
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
    width: 800px;
}

.content-section .section-heading {
    margin: 10px 0;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
}

.content-section .section-sub-heading {
    margin: 15px 0;
    font-size: 15px;
    opacity: 0.6;
    text-align: center;
    font-style: italic;
}

.content .about-text {
    text-align: justify;
    margin-top: 25px;
    line-height: 1.4;
}

.content .member-list {
    display: flex;
    padding: 32px 0;
    text-align: center;
}

.content .member-item {
    width: 33.33333%
}

.member-list .member-name {
    font-size: 15px;
    margin: 15px 0;
}

.content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* TOUR DATES */
.content .tour {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    list-style-type: none;
    /* list-style-type bỏ dấu tròn do thẻ ul gây ra */
}

.tickets-list li {
    padding: 8px 16px;
    font-size: 15px;
    color: #757575;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 0 8px;
    margin-left: 12px;
}

.tickets-list .quatity {
    color: #fff;
    float: right;
    background-color: #000;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    margin-left: -5px;
    margin: 0 15px 0 0;
}

/* START PLACES */
.places {
    display: flex;
    padding: 32px 0 0 0;
    margin-left: -8px;
    margin-right: -8px;
}

.places-item {
    /* width: 800px; */
    padding: 0 8px;
}

.places-img {
    width: 100%;
    /* 100% của content-section */
    display: block;
}

.places-img:hover{
opacity: 0.6;
}

.places-body {
    background-color: #fff;
    padding: 16px;
}

.places-heading {
    margin: 15px 0;
    display: inline-block;
}

.places-time {
    opacity: 0.6;
    margin-bottom: 15px;
    font-size: 15px;
}

.places-content {
    font-size: 15px;
    margin-bottom: 15px;
}

.places-btn {
    margin-bottom:15px 0 16px;
    padding: 8px 16px;
    font-size: 15px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    display:inline-block;

}

.places-btn:hover{
background-color: #ccc;
color: #000;
}

.footer {}
/* START MODAL */
.modal{
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.4);
display: none;
align-items: center;
justify-content: center;
}

.modal.open{
    display: flex;
}

.modal-container{
background-color: #fff;
width: 900px;
 max-width: calc(100% - 32px);/*tránh đụng phải mép trình duyệt khi co nhỏ */
min-height: 200px;
position: relative;
}

.modal-close{
position: absolute;
right: 0;
top: 0;
font-size: 24px;
padding: 8px 16px;
}

.modal-close:hover{
background-color: #ccc;
cursor: pointer;
}
.modal-header{
background-color: #009688;
height: 130px;
display: flex;
align-items: center;
justify-content: center;
font-size: 30px;
}

.modal-body{
padding: 16px 16px;
}

.modal-heading-icon {
margin-right: 16px;
color: #000;
cursor:pointer;
}

.modal-label{
display: block;
font-size: 15px;
margin-bottom: 12px;
}

.modal-input{
border:1px solid #000;
width: 100%;
padding: 10px;
font-size: 15px;
margin-bottom: 24px;
}

#buy-tickets{
    width: 100%;
    background-color: #009688;
    font-size: 15px;   
    padding: 16px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
#buy-tickets:hover{
    background-color: #ccc;
    color: #000;
}
.modal-footer{
    padding: 16px;
    float: right;
}
.modal-footer a{
    color: #2196f3;
}