* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: Arial, Helvetica, sans-serif;
}

.text-white {
    color: #fff !important;
}

/* main */
.main {}

/* HEADER  */
.header {
    background-color: #000;
    height: 48px;
    position: fixed;
    width: 100%;
    top: 0;

}

.nav {
    display: inline-block;
    /* thu nhỏ diện tích của thẻ ul theo phần tử của nó chiếm */
}

.sub-more {
    font-size: 12px;

}

.sub-more .ti-angle-down {
    color: #fff;
}

.nav li {
    display: inline-block;
    position: relative;
}

.nav li a {
    display: inline-block;
    line-height: 48px;
    font-size: 15px;
    padding: 0 24px;
    color: #fff;
    text-decoration: none;
}

.nav>li>a {
    text-transform: uppercase;
}

.nav>li:hover>a {
    background-color: #ccc;
    color: #000;
}

.nav li:hover .sub-nav {
    display: block;
}

/* sub-nav  */
.sub-nav {
    display: none;
    position: absolute;
    top: 48px;
    background-color: #fff;
    width: 140px;
    font-size: ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.sub-nav li {
    width: 100%;
}

.sub-nav li:hover {
    background-color: #ccc;
}

.sub-nav li a {
    color: #000;
    height: 1.4;
    margin: 0 -8px;
}

.header-search {
    float: right;
    color: #fff;
    padding: 16px 24px;
}

.header-search:hover {
    background-color: crimson;
}

/* SLIDER  */
.slider {
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
    margin-top: 48px;
}

.content-slider {
    text-align: center;
    padding: 32px 16px;
}

.heading-slider {
    font-size: 24px;
    margin: 10px 0;
    color: #fff;
    font-weight: 500;
}

.text-slider {
    margin: 15px;
    color: #fff;
    font-weight: 700;
}

.img-slider {
    width: 100%;
}

/* CONTENT  */
.content {}

.content-section {
    /* text-align: center; */
    padding: 64px 16px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.section-heading {
    text-align: center;
    margin: 10px 0;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

.section-sub-heading {
    text-align: center;
    margin: 15px;
    opacity: 0.6;
    font-style: italic;
    line-height: 1.4;
}

.text-content {
    text-align: justify;
}

.list-item {
    display: flex;
    padding: 32px 0;
    text-align: center;
}

.item {
    width: 33.33333%;
}

.name-member {
    margin: 15px 0;
    font-size: 15px;
}

.img-member {
    width: 154px;
    border-radius: 4px;
    text-align: center;
}

/* tour dates */
.tour-dates {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
}

.tickets-list li {
    padding: 8px 16px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
}

.sold-out {
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 2px 8px;
    font: 15px;
}

.tickets-number {
    float: right;
    margin-right: 16px;
    padding: 0 8px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-bottom: -3px;

}

/* places  */
.places {
    display: flex;
    margin: 0 -16px;
    padding: 32px 8px;
}

.places-items {
    padding: 0 8px;
}

.places-img {
    width: 100%;
    display: block;
    /* thêm display block để phần ảnh và phần chữ dính vào nhau */
}

.content-places {
    background: #fff;
    padding: 0 16px;
}

.places-heading {
    display: inline-block;
    margin: 15px 0;
    font-weight: 700;
}

.places-date {
    margin-bottom: 15px;
    opacity: 0.6;
}

.places-text {
    margin-bottom: 15px;
    line-height: 1.4;
}

.btn-buy-tickets {
    margin-bottom: 16px;
    padding: 8px 16px;
    border: none;
    background-color: #000;
    color: #fff;
}

.btn-buy-tickets:hover {
    background-color: #ccc;
    color: #000;
}

/* CONTACT  */
.contact {
    display: flex;
}

.contact-left {
    width: 50%;
}

.contact-left i[class*="ti-"] {
    display:inline-block;
    width: 30px;
}

.contact-right {
    width: 50%;
}

.contact-right-top {
    display: flex;
    width: 100%;
}

.contact-right-top {
    margin-left: -8px;
    margin-bottom: 8px;
}

.contact-input-left {
    width: 100%;
    padding: 0 8px;
}

.contact-input-right {
    width: 100%;
    padding: 0 12px;

}

.form-control-top {
    padding: 8px;
}

.form-control {
    width: 100%;
    padding: 8px;
}

.form-send {
    float: right;
    margin: 16px 0;
    padding: 8px 16px;
    border: none;
    background-color: #000;
    color: #fff;
}

.content-map{
    width: 100%;
}


/* FOOTER  */
.footer {
    text-align: center;
    padding: 64px 16px;
}

.socials-list a{
color: #000;
text-decoration: none;
opacity: 0.7;
}

.socials-list a:hover{
opacity: 0.4;
}

.copy-right{
    margin: 15px 0;
    opacity: 0.7;
}

.footer-w3{
    color: #000;
}
/* MODAL  */
.modal-big {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-big.open {
    display: flex;
}

.modal-small {
    background-color: #fff;
    width: 900px;
    position: relative;
}

.modal-close {
    position: absolute;
    right: 0;
    font-size: 18px;
    padding: 14px 16px;
    color: #fff;
}

.modal-close:hover {
    background-color: #ccc;
    color: #000;
}

.modal-bag {
    font-size: 30px;
    padding: 32px 16px;
    background-color: #009688;
    text-align: center;
    color: #fff;
}

.modal-body {
    padding: 0 16px;
}

.modal-body-one {
    margin: 15px 0;
}

.modal-input {
    width: 100%;
    padding: 8px;
}

.buy-tickets {
    width: 100%;
    margin: 16px 0;
    padding: 16px;
    border: none;
    background-color: #009688;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}

.buy-tickets:hover {
    background-color: #ccc;
    color: #000;
    font-weight: 500;
}

.modal-footer {
    float: right;
    margin: 15px 0;
    padding: 0 16px;
    font-size: 15px;
}

.help {
    color: aqua;
}

