* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* scroll-behavior có nghĩa là hành vi cuộn  */
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* comon:class dùng chung */
/* row: hàng  */
.center {
    display: flex !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

/* colum:cột(viết tắt col) */
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}

.text-white {
    color: #fff !important;
}

/* main */
#main {}

#header {
    background-color: #000;
    height: 46px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    padding: 0 24px;
    line-height: 46px;
    display: block;
    text-decoration: none;
    color: #fff;
}

#nav>li:hover>a {
    background-color: #ccc;
    color: #000;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

.mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.mobile-menu-btn,
#header .search-btn {
    float: right;
    color: #fff;
    padding: 0 21px;
    line-height: 46px;
}

#header .search-btn:hover {
    background-color: red;
}

.mobile-menu-btn:hover {
    background-color: #ccc;
    color: #000;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    top: 46px;
    min-width: 160px;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li {
    width: 100%;
}

#nav .subnav li:hover {
    background-color: #ccc;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;

}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    text-align: center;
    width: 100%;
}

#slider .text-heading {
    font-weight: 400;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#content {}

#content .content-section {
    padding: 64px 0;
    width: 900px;
    max-width: 100%;
    /* nếu màn hình đáp ứng đủ width thì sẽ vẫn là 800px
    nếu width không đủ sẽ co lại bằng width 100% màn hình  */
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 16px; */
    /* padding-right: 16px; */
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    padding: 48px;
    text-align: center;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* TOUR DATES  */
.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    background-color: #F44335;
    color: #fff;
    padding: 0 8px;
    margin-left: 16px;
}

.tickets-list .quatity {
    color: #fff;
    float: right;
    background-color: #000;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    margin-left: -3px;
}

/* START PLACES */
.places {
    margin-top: 16px;
    font-size: 15px;
}

.places-img {
    width: 100%;
    display: block;
    /* THÊM DISPLAY:BLOCK VÌ THẺ IMG CÓ TÍNH CHẤT INLINE NÊN SẼ TẠO RA KHOẢNG CÁCH */
}

.places-img:hover {
    opacity: 0.6;
}

.places-body {
    background-color: #fff;
    padding: 16px;
}

.places-heading {
    margin: 15px 0;
    display: inline-block;
    /* không dùng inline-block khi margin sẽ bị đè lên ảnh */
}

.places-time {
    opacity: 0.6;
    margin-bottom: 15px;
}

.places-content {
    margin-bottom: 15px;
    line-height: 1.4;
}

.places-btn {
    margin-bottom: 10px;
    padding: 8px 16px;
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-decoration: none;
}

.places-btn:hover {
    background-color: #ccc;
    color: #000;
}

/* START CONTACT FORM */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit-btn {
    float: right;
    padding: 10px 16px;
    background-color: #000;
    color: #fff;
    border: none;
}

.form-submit-btn:hover {
    background-color: #ccc;
    color: #000;
}

.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

.socials-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.socials-list a:hover {
    color: rgba(0, 0, 0, 0.3);

}

.copy-right {
    margin: 15px 0;
    font-size: 15px;
}

/* START MODAL */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    /*tránh đụng phải mép trình duyệt khi co nhỏ */
    min-height: 200px;
    position: relative;
    animation: modalfacein ease 0.4;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 14px;
    font-size: 24px;
    color: #fff;
}

.modal-close:hover {
    background-color: #ccc;
    color: #000;
}

.modal-header {
    padding: 10px 0;
    font-size: 30px;
    background-color: #009688;
    height: 130px;
    color: #fff;
    letter-spacing: 4px;
    /* cả 3 thuộc tính phải đi chung với nhau */
    display: flex;
    /* căn giữa một phần tử theo chiều dọc của một container */
    align-items: center;
    /* căn giữa một phần tử theo chiều ngang của một container  */
    justify-content: center;

}

.modal-body {
    padding: 16px 16px;
}

.modal-bag {
    margin-right: 16px;
}

.modal-label {
    display: block;
    margin: 15px 0;
}

.modal-input {
    display: block;
    width: 100%;
    padding: 8px;
}

#buy-tickets {
    background-color: #009688;
    font-size: 15px;
    margin: 16px 0;
    padding: 16px;
    border: none;
    width: 100%;
    color: #fff;
}

#buy-tickets:hover {
    background-color: #ccc;
    color: #000;
}

.modal-footer {
    margin: 15px 0;
    font-size: 15px;
    float: right;
}

.modal-footer a {
    color: #2196f3;
}

@keyframes modalfacein {
    from {
        transform: translateY(-150px);
    }

    to {
        transform: translateY(0);
    }
}

/* mobile  */
@media only screen and (max-width: 46.1875em) {
    .test{
        margin-left: 8px;
    }

    .test1{
        padding: 8px;
    }
    #header {
        overflow: hidden;
        max-width:100%;
    }

    #nav {
        display: block;
    }

    #nav li {
        display: block;
    }

    #nav>li:first-child {
        display: inline-block;
    }

    #header .search-btn {
        display: none;
    }

    #nav .subnav {
        display: block;
        position: initial;
        background-color: rgb(20, 19, 19);
    }

    #nav .subnav a {
        padding: 5px 41px;
        color: #fff;
    }

    #slider{
        margin-left: -8px;
        margin-right: -8px;
    }

    #content .member {
        width: 100%;
    }

    .member-item {
        margin-top: 16px;
    }

    .places-item {
        margin: 16px 8px 8px;
    }

    #content .member-img {
        width: 60%;
    }

    .tour-section{
        padding: 0 8px;
    }

    .tickets-list {
        margin: 0 8px 0;
    }

    .tickets-list li{
        list-style-type: none;
    }
    .places {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
    }
    .section-sub-heading{
        margin-bottom: 25px;
    }

    .contact-info {
        width: 261px;
    }

}

/* tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    #slider {
        padding-left: 16px;
        padding-right: 16px;
    }

    #content .content-section {
        padding-left: 16px;
        padding-right: 16px;
    }

    .mobile-menu-btn {
        display: none;
    }
}

/* pc  */
@media only screen and (min-width:1024px) {
    .mobile-menu-btn {
        display: none;
    }
}